.home-page {
  background-color: var(--pageClr);
  box-shadow: var(--box-shadow-page);
  border-radius: 4px;
  margin-top: var(--home-top-image-height);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home-top-image {
  position: absolute;
  right: 0;
  left: 0;
  translate: 0 -6px;
  height: var(--home-top-image-height);
  overflow: hidden;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.17);



  >img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;

  }

  >div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--layout);
    align-items: center;

    >div {
      grid-column: 2;
      width: max-content;
      text-align: center;
    }

    h1 {
      font-size: 123px;
      margin: 0;
      font-family: SuezOne;
    }

    h2 {
      font-size: 68px;
      margin: 0;
      font-family: Rubik;
      font-weight: normal;
    }
  }
}

.home-page .hero-sec-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  text-align: center;
  font-size: 19px;
  line-height: 35px;

  h1 {
    font-size: 36px;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .txt-container {
    align-self: self-end;
    margin: 0 36px;

    p {
      margin: 8px 0;
    }
  }

  .img-container {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(167, 167, 167);

  }

  .home_image_1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .owner-details-home {
    display: grid;
  }

  .plans-btn,
  .more-btn {
    display: block;
    width: 165px;
    height: 60px;
    border-radius: 6px;
    margin: 22px auto;

    font-size: 20px;
  }

  .more-btn {
    background-color: rgb(126, 205, 231);
  }

  .plans-btn {
    background-color: var(--green1);
  }
}


.home-page .contact-sec {
  height: 740px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: minmax(12px, auto) minmax(auto, 1200px) minmax(12px, auto);

  .container {
    position: relative;
    grid-column: 2;
  }

  .image-container {
    box-shadow: 0 4px 6px rgb(167, 167, 167);
    overflow: hidden;
    border-radius: 20px;
    height: 520px;
    width: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: 12px;
      transform: scaleX(-1)
    }
  }

  .contact-form-container {
    border-radius: 44px;
    position: absolute;
    top: 15%;
    left: 8%;

    .contact-form {
      background-color: #fffffff6;
    }
  }
}

.home-post-block {
  .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h2 {
      margin: 0;
    }

    span {
      cursor: pointer;
    }
  }

  .post-list-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;


    .post-content {
      padding: 14px 8px;
    }

    img {
      height: 160px;
    }

  }
}

@media (max-width: 1000px) {
  :root {
    --home-top-image-height: 270px;
  }

  .home-top-image {
    >div {
      h1 {
        font-size: 100px;
      }

      h2 {
        font-size: 60px;
        margin-right: 12px;
      }
    }
  }

  .home-page {
    .hero-sec-home .txt-container {
      margin: 0;
    }
  }
}

@media (max-width: 800px) {
  .home-post-block .post-list-home {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 150px;

    .post-card {
      display: flex;
      /* flex-direction: row-reverse; */
      border-radius: 4px;
    }

    .post-title {
      font-size: 18px;
      font-weight: normal;
      -webkit-line-clamp: 1;
      line-clamp: 1;
    }

    .post-preview {
      -webkit-line-clamp: 2;
      line-clamp: 2;
      margin: 10px 0 8px 0;
    }

    .post-content {
      flex-direction: column-reverse;
      flex: 1;
      justify-content: space-between;
      gap: 6px;
    }

    .post-date {
      margin: 0;
    }

    .post-views {
      display: none;
    }

    .post-image {
      width: 30%;
      max-width: 220px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  :root {
    --home-top-image-height: 200px;
  }

  .home-top-image {
    >div {
      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 40px;
      }
    }
  }

  .home-page {
    .hero-sec-home {
      display: block;

      .img-container {
        display: none;
      }
    }
  }

  .home-page .contact-sec {
    display: block;
    height: 690px;

    .container {
      justify-self: center;
      width: 100%;
    }

    .image-container {
      display: none;
    }

    .contact-form-container {
      position: static;
      display: flex;
      justify-content: center;

      .contact-form {
        background-color: #fff;
      }
    }

  }
}