.contact-form {
  width: 100%;
  max-width: 520px;
  background-color: #fff;
  color: rgba(29, 102, 205, 0.907);
  padding: 24px;
  box-shadow: 0 0 8px rgb(167, 167, 167);
  border-radius: 26px;

  form {
    display: flex;
    flex-flow: column;
    gap: 28px;
  }

  .form1 {
    display: flex;
    gap: 24px;
  }

  .form2,
  .form3,
  .form1 div {
    display: flex;
    flex-flow: column;
  }

  label {
    margin-bottom: 8px;
  }

  h2 {
    width: max-content;
    margin: 0 0 8px;
    padding: 0 0 6px 6px;
    color: rgb(7, 70, 157);
    border-bottom: 2px solid rgb(7, 70, 157);
  }

  button {
    background-color: rgb(29, 103, 205);
    color: white;
    border: 0;
    height: 40px;
    border-radius: 12px;
    margin-bottom: 6px;
    font-size: 18px;
  }

  input,
  textarea {
    border: 0;
    color: rgb(29, 103, 205);
    font-size: medium;
    background-color: rgb(229, 235, 250);
    height: 40px;
    border-radius: 12px;
    padding: 0 12px;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  textarea {
    resize: vertical;
    padding: 12px;
    height: 92px;
  }

  .success-message {
    color: rgb(5, 178, 5);
    font-size: 22px;
    text-align: center;
  }

  .error {
    margin-top: 4px;
    color: rgb(183, 7, 7);
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .contact-form {

    form {
      gap: 18px;
    }

    .form1 {
      gap: 18px;
      flex-direction: column;
    }
  }
}