.header {
  height: 82px;
  border-bottom: 2px solid rgb(190, 190, 190);

  display: grid;
  grid-template-columns: minmax(72px, 1fr) minmax(auto, 1200px) minmax(72px, 1fr);
  /* grid-template-columns: var(--layout); */

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: transparent;

    &.active {
      font-size: 21px;
      color: white;
      background-color: rgb(70, 203, 79);
    }
  }

  .nav-bar {
    grid-column: 2;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;

    >div {
      display: flex;
      gap: 6px;
    }

    .nav-link {
      height: 58px;
      width: 110px;
      transition: 0.2s;
      border-radius: 5px 5px;

      &:hover:not(.active) {
        /* color: var(--clr1); */
        background-color: #f3f3f3;
      }
    }
  }


  .logo {
    margin-right: 3px;
    margin-top: 2px;
    grid-column: 1;
    height: 72px;
    align-self: center;
    cursor: pointer;
  }
}

/* Mobile */

.mobile-nav {
  position: absolute;
  max-width: 375px;
  top: 82px;
  width: 100%;
  padding: 4px 0;
  flex-direction: column;
  z-index: 10;
  background-color: #fff;
  border-radius: 0 0 0 4px;

  transform: scaleX(0);
  transform-origin: right;
  transition: 0.2s;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.225);


  .nav-link {
    height: 72px;
    width: 100%;
    padding: 0 8px;
    border-radius: 3px;

    &.active {
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
    }
  }
}

.burger-menu {
  display: none;
  grid-column: 2;
  height: 100%;
  aspect-ratio: 1;
  padding: 10px;

  background-color: transparent;
  border: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.menu-overlay {
  display: none;
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  height: calc(100% - 82px);

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 5;
}

@media (max-width: 950px) {
  .header {
    grid-template-columns: 8px max-content 1fr max-content 8px;

    .nav-bar {
      display: none;
    }

    .mobile-nav.active {
      display: flex;
      padding: 4px;
      transform: scaleX(1);
      .nav-link.active {
        color: white;
        background-color: rgb(70, 203, 79);
      }
    }


    >.logo {
      grid-column: 4;
      grid-row: 1;
      justify-self: left;
      margin-left: 10px;
    }

    .burger-menu {
      display: flex;
    }


  }

  .menu-overlay {
    display: block;
  }
}