.header {
  height: var(--headerHeight);
  background-color: var(--headerClr);
  font-family: var(--headerF);
  font-weight: var(--headerFW);
  font-size: 17px;
  color: white;

  display: grid;
  grid-template-columns: var(--layout);

  .nav-bar {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    >div:first-of-type {
      padding-left: 20px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 12px;
      height: 100%;

      .nav-link {
        position: relative;
        height: 40px;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        background-color: white;
        transition: width 0.3s ease;
      }

      .nav-link.active::after {
        width: 100%;
      }

    }

  }

  .logo {
    background-color: #fffffff2;
    padding: 0 8px;
    border-radius: 4px;
    height: calc(var(--headerHeight) - 8px);
    max-height: 60px;
    cursor: pointer;
  }
}

/* Mobile */

.mobile-container {
  display: none;
  grid-column: 2;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 0 10px;
  }
}

.mobile-nav {
  position: absolute;
  width: 100%;
  max-width: 375px;
  top: var(--headerHeight);
  padding: 4px 0;
  flex-direction: column;
  z-index: 10;
  background-color: var(--headerClr);

  transform: scaleX(0);
  transform-origin: right;
  transition: 0.2s;
  box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);


  .nav-link {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    width: 100%;
    border-radius: 4px;

    &.active {
      color: white;
      background-color: rgb(141, 141, 141);
    }
  }
}


.burger-menu {
  grid-column: 2;
  padding: 0 10px;
  align-items: center;

  background-color: transparent;

  img {
    height: 40px;
  }
}

.menu-overlay {
  display: none;
  position: absolute;
  top: var(--headerHeight);
  left: 0;
  width: 100%;
  height: calc(100% - var(--headerHeight));

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 5;
}

@media (max-width: 650px) {
  .header {
    grid-template-columns: 8px 1fr 8px;

    .mobile-container {
      display: flex;
    }

    .nav-bar {
      display: none;
    }

    .mobile-nav.active {
      display: flex;
      padding: 4px;
      transform: scaleX(1);

      /* .nav-link.active {
        color: white;
        background-color: rgb(141, 141, 141);
      } */
    }


    >.logo {
      grid-column: 4;
      grid-row: 1;
      justify-self: left;
      margin-left: 10px;
    }

    .burger-menu {
      display: flex;
    }


  }

  .menu-overlay {
    display: block;
  }
}