.header {
  height: 82px;
  border-bottom: 2px solid rgb(190, 190, 190);

  display: grid;
  grid-template-columns: var(--layout);

  .nav-bar {
    grid-column: 2;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    >div {
      display: flex;
      gap: 6px;
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 58px;
      width: 110px;
      font-size: 20px;
      background-color: transparent;
      border: 0;
      transition: 0.2s;
      border-radius: 5px 5px 14px 14px;

      &:hover {
        /* color: var(--clr1); */
        background-color: #f3f3f3;
      }

      &.active {
        font-size: 21px;
        color: white;
        background-color: rgb(70, 203, 79);
        /* color: var(--clr1); */
        /* background-color: #f3f3f3; */
      }

    }
  }


  img {
    grid-column: 1;
    height: 72px;
    justify-self: right;
    align-self: center;
    cursor: pointer;
  }
}

.mobile-nav {
  display: none;
}

.burger-menu {
  display: none;
  /* width: max-content; */
  height: 45px;
  width: 45px;
  align-self: center;

  background-color: rgb(220, 220, 220);
  border: 2px solid ;
  border-color: rgb(237, 237, 237)  rgb(160, 160, 160) rgb(160, 160, 160)  rgb(237, 237, 237) ;

  padding: 4px;
  font-size: 28px;
  font-weight: 800;
}

@media (max-width: 1000px) {
  .header {
    display: grid;
    grid-template-columns: 8px max-content 1fr max-content 8px;

    /* align-items: center; */
    .nav-bar {
      display: none;
    }

    img {
      grid-column: 4;
      grid-row: 1;
      width: 72px;
      justify-self: left;
    }

    .burger-menu {
      display: block;
      grid-column: 2;
    }

  }
}