.header {
  height: 74px;
  padding: 0 16px;
  border-bottom: 2px solid rgb(190, 190, 190);
  margin-bottom: 12px;

  display: grid;
  grid-template-columns: minmax(72px, 1fr) minmax(auto, 1100px) minmax(72px, 1fr);

  nav {
    grid-column: 2;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    >div{
      display: flex;
      gap: 2px;
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 52px;
      width: 110px;
      font-size: 20px;
      background-color: transparent;
      border: 0;
      transition: 0.2s;
      border-radius: 5px 5px 14px 14px;

      &:hover {
        /* color: var(--clr1); */
        background-color: #f3f3f3;
      }

      &.active{
        font-size: 21px;
        color: var(--clr1);
        background-color: #f3f3f3;
      }

    }
  }


  img {
    grid-column: 1;
    height: 72px;
    justify-self: right;
  }
}