.home-page {
  background-color: var(--pageClr);
  border-radius: 6px;
  margin-top: 310px;
}

.home_image_2_container {
  position: absolute;
  right: 0;
  left: 0;
  translate: 0 -10px;
  height: 310px;
  overflow: hidden;


  >img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
  }

  >div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--layout);
    align-items: center;

    >div {
      grid-column: 2;
      width: max-content;
      text-align: center;
    }

    h1 {
      font-size: 123px;
      margin: 0;
      font-family: SuezOne;
    }

    h2 {
      font-size: 68px;
      margin: 0;
      font-family: Rubik;
      font-weight: normal;
    }
  }
}

.home-page .owner-sec-home {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  text-align: center;
  font-size: 19px;
  line-height: 30px;

  h1 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .txt-container {
    align-self: self-end;
  }

  .img-container {
    border-radius: 6px;
    overflow: hidden;
  }

  .home_image_1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .owner-details-home {
    display: grid;
  }

  .plans-btn,
  .more-btn {
    display: block;
    width: 165px;
    height: 60px;
    border-radius: 6px;
    border: 0;
    margin: 22px 10px;

    font-size: 20px;
    justify-self: center;
  }

  .more-btn {
    background-color: rgb(126, 205, 231);
  }

  .plans-btn {
    background-color: var(--green1);
  }

}


.home-page .contact-sec {
  height: 740px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: minmax(12px, auto) minmax(auto, 1200px) minmax(12px, auto);

  .container {
    position: relative;
    grid-column: 2;
  }

  .image-container {
    overflow: hidden;
    border-radius: 20px;
    height: 520px;
    width: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: 12px;
    }
  }

  .contact-form-container {
    /* padding: 16px; */
    border: 16px solid var(--pageClr);
    /* background-color: var(--pageClr); */
    border-radius: 44px;
    position: absolute;
    top: 15%;
    left: 8%;

    .contact-form {
      background-color: #fffffff6;
    }
  }
}

@media (max-width: 1000px) {
  .home_image_2_container {
    height: 270px;

    >div {
      h1 {
        font-size: 100px;
      }

      h2 {
        font-size: 60px;
        margin-right: 12px;
      }
    }
  }

  .home-page {
    margin-top: 290px;
  }
}

@media (max-width: 700px) {
  .home_image_2_container {
    height: 200px;

    >div {
      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 40px;
      }
    }
  }

  .home-page {
    margin-top: 200px;

    .owner-sec-home {
      display: block;

      .img-container {
        display: none;
      }
    }
  }

  .home-page .contact-sec {
    display: block;
    height: 690px;

    .container {
      justify-self: center;
      width: 100%;
    }

    .image-container {
      display: none;
    }

    .contact-form-container {
      position: static;
      padding: 0;
      border: 0;
      display: flex;
      justify-content: center;

      .contact-form {
        background-color: #fff;
      }
    }

  }
}