.client-sec-home{
  padding: 10px 10px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  border-radius: 6px;

  text-align: right;
  font-size: 18px;
  line-height: 25px;

  h1{
    font-size: 30px;
    margin-bottom: 40px;
  }

  img{
    border-radius: 6px;
  }
}