.home-page {
  background-color: #f9f9f9;
  border-radius: 6px 6px 0 0;
  margin-top: 310px;

}

.home_image_2_container {
  position: absolute;
  translate: 0 -12px;
  right: 0;
  left: 0;
  height: 310px;
  overflow: hidden;


  >img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
  }

  >div{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--layout);
    align-items: center;

    >div{
      grid-column: 2;
      width: max-content;
      text-align: center;
    }

    h1{
      font-weight: 600;
      font-size: 123px;
      margin: 0;
      font-family: SuezOne;
    }
    h2{
      font-size: 68px;
      margin: 12px;
    }
  }
}

.home-page .client-sec-home {
  padding: 5px;
  /* background-color: #f5f5f5; */
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 12px;

  text-align: center;
  font-size: 18px;
  line-height: 30px;

  h1 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .img-container {
    border-radius: 6px;
    overflow: hidden;
  }

  .home_image_1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }


  .client-details-home {
    display: grid;
  }



  .plans-btn,
  .more-btn {
    display: block;
    width: 165px;
    height: 60px;
    border-radius: 6px;
    border: 0;
    margin: 22px 10px;

    font-size: 20px;
    justify-self: center;
  }

  .more-btn {
    background-color: rgb(126, 205, 231);
  }

  .plans-btn {
    background-color: var(--green1);
  }



}