
.plan-preview{
  width: 280px;
  text-align: center;
  padding: 6px 0;

  .image-container{
    background-color: rgb(239, 239, 239);
    border-radius: 50%;
    margin: 16px;
    img{
      width: 100%;
      cursor: pointer;
    }
  }
}