.plan-preview {
  padding: 22px;
  border-radius: 30px 30px 10px 10px;

  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  cursor: pointer;

  .plan-title {
    margin-top: 20px;
  }


  .image-container {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

    border-radius: 30px 30px 10px 10px;
    aspect-ratio: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}