.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 30px;
  padding: 20px;
}

.post-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.post-image {
  overflow: hidden;
}

.post-card .post-image img {
  box-shadow: 0 0;
  border-radius: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-content {
  /* height: 100%; */
  overflow: hidden;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-views-share {
  display: flex;
  gap: 6px;
}

.post-date {
  font-size: 14px;
  color: var(--date-clr);
}

.post-share {
  border: none;
  cursor: pointer;
}

.post-views {
  cursor: default;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

}

.post-share,
.post-views {
  background: #f2f2f2;
  color: rgb(104, 104, 104);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 15px;
}

.post-title {
  font-size: 20px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.post-preview {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}