*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--bodyF);
    font-weight: var(--bodyFW);
    background-color: var(--mainBgc);
}

button,
input,
select,
textarea {
    font-family: inherit;
    color: inherit;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: unset;
}

img,
embed,
video,
object {
    user-select: none;
    /* max-width: 100%  */
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button,
select {
    background-color: #dedede;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }

    &:active {
        filter: brightness(0.85);
    }
}

select:active option {
    background-color: inherit;
    &:hover {
        background-color: inherit;
        filter: brightness(0.9);
    }
    
    &:active {
        background-color: inherit;
        filter: brightness(0.85);
    }
}

.no-select {
    user-select: none;
}