.main-layout {
  display: grid;
  /* grid-template-columns: var(--layout); */
  grid-template-rows: max-content auto max-content;
  position: relative;
  min-height: 101vh;

  .main-content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }




  /* .edit-comment-list, */
  .page {
    box-shadow: var(--box-shadow-page);
    border-radius: var(--page-border-radius);
    background-color: var(--pageClr);

    grid-column: 2;
    margin: 18px 0 26px;
  }

  .blur-load {
    filter: blur(12px);
    transform: scale(1.05);
    transition: filter 0.1s ease, transform 0.1s ease;
  }

  .blur-load.loaded {
    filter: blur(0);
    transform: scale(1);
  }

}