.main-layout {
  display: grid;
  grid-template-columns: var(--layout);
  
  
  .header {
    grid-column: 1 / 4;
  }
  
  .main-content {
    grid-column: 2;
    margin-top: 12px;
    /* >*{
      min-height: 100%;
    } */
  }
}