.txt-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

.standard-btn {
  background-color: #dedede;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
}