:root {
  
  /* colors */
  --mainBgc: #18301734;

  --headerClr: #183017cd;

  --pageClr: #f9f9f9;
  --clr1: #99e265;
  --clr2: #1e9694;
  --green1: #46cb4f;
  --footerClr: #e9e9e9;


  /* specific colors */
  --date-clr: #777;


  /* fonts */
  --bodyF: Rubik;
  --bodyFW: normal;

  --headerF: Rubik;
  --headerFW: normal;


  /* layouts */
  --layout: minmax(52px, 1fr) minmax(auto, 1200px) minmax(52px, 1fr);
  --home-top-image-height: 305px;


  /* others */
  --box-shadow-page: 0 0 5px rgba(0, 0, 0, 0.08);
  --headerHeight: 82px;
}

@media (max-width: 1024px) {
  :root {
    --layout: 6px 1fr 6px
  }
}

@media (max-width: 800px) {
  :root {
    --headerHeight: 58px;
  }
}