/* BASICS */
@import "./basics/base.css";
@import "./basics/layout.css";

/* SETUP */
@import "./setup/var.css";
@import "./setup/typography.css";


/* CMPS */
@import "./cmps/Header.css";
@import "./cmps/HomePage.css";
@import "./cmps/ContactForm.css";